GOOGLE_ADS_DEVELOPER_TOKEN=dyul8Pa6DgFXsdYlh8VuLg
GOOGLE_ADS_CUSTOMER_ID=5268213497
GOOGLE_ADS_LOGIN_CUSTOMER_ID=0987654321
GOOGLE_ADS_SERVICE_ACCOUNT_KEY_PATH=./secrets/google-ads-service-account.json
GOOGLE_ADS_API_VERSION=v23
